<div class="row">
  <h1>商品　編集画面</h1>
  <%= form_with model: @item, url: admin_item_path,  local: true do |f| %>
  <div class="col-xs-4">
    <p><%= image_tag 'no_image.jpg', id: "item-image", :size => '300x200' %></p>
    <p><%= f.attachment_field :image %></p>
  </div>
  
  <div class="col-xs-4">
    <table>
        <tr>
          <th><%= f.label :name ,"商品名"%></th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :text ,"商品説明"%></th>
          <td><%= f.text_area :text, class: "" %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.collection_select :category_id, Category.all, :id,:name, include_blank: "--選択してください--" %></td>
        </tr>
        <tr>
          <th><%= f.label :non_tax_prace ,"税抜き価格"%></th>
          <td><%= f.text_field :non_tax_prace, class: "" %></td>
        </tr>
        <tr>
          <th><%= f.label :status ,"販売ステータス"%></th>
          <td><%= f.select :status, [["販売停止",true],["販売中",false]], include_blank: "--選択してください--" %></td>
        </tr>
    </table>
  </div>
  <div class="col-xs-4">
    <h1><%= f.submit '変更を保存', class: "" %></h1>
  </div>
  <% end %>
</div>