<div class="row">
  <h1>商品　編集画面</h1>
  <div class="col-xs-4">
    <p>画像</p>
    <p>画像選択ボタン</p>
  </div>
  <%= form_with model: @item, url: orders_path,  local: true do |f| %>
  <div class="col-xs-4">
    <table>
        <tr>
          <th><%= f.label :name ,"商品名"%></th>
          <td><%= f.text_field :name, class: "" %></td>
        </tr>
        <tr>
          <th><%= f.label :text ,"商品説明"%></th>
          <td><%= f.text_area :text, class: "" %></td>
        </tr>
        <tr>
          <th><%#= f.label : ,"ジャンル"%></th>
          <td><%#=%></td>
        </tr>
        <tr>
          <th><%= f.label :non_tax_prace ,"税抜き価格"%></th>
          <td><%= f.text_field :name, class: "" %></td>
        </tr>
        <tr>
          <th><%= f.label :status ,"販売ステータス"%></th>
          <td><%#=%></td>
        </tr>
    </table>
  </div>
  <div class="col-xs-4">
    <h1><%#= f.submit '変更を保存'%></h1>
  </div>
  <% end %>
</div>