  <h1>商品　詳細画面</h1>
  <div class="col-xs-4">
    <%= attachment_image_tag @item, :image, :size => '300x300' %>
  </div>
  <div class="col-xs-4">
    <table>
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.text %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.category.name %></td>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <td><%= @item.post_tax_price.to_i %>(<%= @item.non_tax_price.to_i %>)</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.status == true %>
              販売停止
            <% else %>
              販売中
            <% end %>
          </td>
        </tr>
    </table>
  </div>
  <div class="col-xs-4">
    <%= link_to "編集する" , edit_admin_item_path(@item.id) %>
  </div>