<h3>新規会員登録</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <table>
        <tr>
          <th><%= f.label :名前 %></th>
          <th> (性)　 <%= f.text_field :last_name_japanese %> 　　(名)　 <%= f.text_field :first_name_japanese %></th>
        </tr>

        <tr>
          <th><%= f.label :フリガナ %></th>
          <th> (セイ) <%= f.text_field :last_name_katakana %> 　　(メイ) <%= f.text_field :first_name_katakana %></th>
        </tr>

        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th> 　　　<%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>

        <tr>
          <th><%= f.label :郵便番号（ハイフンなし）%></th>
          <th> 　　　<%= f.text_field :postal_code %></th>
        </tr>

        <tr>
          <td><%= f.label :住所 %></td>
          <th> 　　　<%= f.text_field :address, :size => "50*50"  %></th>
        </tr>

        <tr>
          <td><%= f.label :電話番号（ハイフンなし）%></td>
          <th> 　　　<%= f.text_field :tel %></th>
        </tr>

        <tr>
          <td><%= f.label :パスワード（６文字以上）%></td>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <th> 　　　<%= f.password_field :password, autocomplete: "new-password" %></th>
        </tr>

        <tr>
          <td><%= f.label :パスワード（確認用） %></td>
          <th> 　　　<%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
        </tr>
      </table>
    </div>

  <div class="actions, col-xs-offset-3 col-xs-9">
    <br><button class="btn btn-success btn-lg" type="submit">新規登録</button>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<%= link_to "こちら",new_user_session_path %> からログインしてください。
