<h1>注文一覧画面</h1>
<div class="row">
    <div class="col-xs-10">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>購入日時</th>
                    <th>購入者</th>
                    <th>注文個数</th>
                    <th>注文ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td><%= link_to order.created_at, admin_order_path(order) %>
                        <!--会員userの注文orderの購入日時created_at　リンクで詳細画面に遷移する-->
                    </td>
                    <td><%= order.user.full_name_japanese %></td>

                    <td><%= order.order_total_volume %></td>
                    <td><%= order.status %></td>
                    <%# order.rbでenum定義されている %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<%# 商品情報のテーブル%>
<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
        <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.full_name_japanese, admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td> <% if user.status == true %>
                <%# trueだったら有効を表示したい %>
                有効
                <% else %>
                解約済み
                <% end %>
            <td>
        </tr>
    </tbody>
    <% end %>
</table>
<%# カミナリでページ追加 %>