<div class="col-xs-8">
    <h2>注文詳細</h2>
    <table class="table table-hover table-inverse">
        <tr class="">
            <th class="td-id">購入者</th>
            <td class="td-name"><%= @order.user.full_name_japanese %></td>
        </tr>
        <tr class="">
            <th class="td-id">配送先</th>
            <td class="td-name"><%= @order.address %></td>
        </tr>
        <tr class="">
            <th class="td-id">支払い方法</th>
            <td class="td-name"><%= @order.payment_method %></td>
        </tr>
        <tr class="">
            <th class="td-id">注文ステータス</th>
            <%= form_with(model: @order,local: true, url: {action: 'update'}) do |form| %>
            <td><%= form.select :status, [["入金待ち", "入金待ち"], ["入金確認", "入金確認"], ["製作中", "製作中"], ["発送準備中", "発送準備中"], ["発送済み", "発送済み"]] %></td>
            <div class="actions">
                <td> <button class="btn btn-info" type="submit">更新</button></td>
            </div>
            <% end %>
        </tr>

    </table>
</div>
<div class="col-xs-8">
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th>制作ステータス</th>
            </tr>
        </thead>

        <tbody>
            <tr><% @order.order_items.each do |order_item| %>
                <td><%= order_item.item.name %></td>
                <td><%= order_item.price %></td>
                <td><%= order_item.volume %></td>
                <td><%= order_item.price.to_i * order_item.volume.to_i %></td>
                <%= form_with model: order_item, local: true, url:admin_order_order_item_path(@order,order_item) do |form| %>
                <td><%= form.select :status, [["着手不可", "着手不可"], ["製作待ち", "製作待ち"], ["製作中", "製作中"], ["製作完了", "製作完了"]] %></td>
                <div class="actions">
                    <td> <button class="btn btn-info" type="submit">更新</button>
                </div>
                </td>
                <% end %>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>
<%# 右下の塊%>
<div class="col-xs-4">
    <table>
        <tr>
            <th>商品小計</th>
            <td><%= @order.get_total_price %></td>
        </tr>
        <tr>
            <th>送料</th>
            <td><%= @order.postage %></td>
        </tr>
        <tr>
            <th>請求金額合計</th>
            <td><%= @order.get_total_price + @order.postage %></td>
        </tr>
    </table>
</div>


