<h2>登録情報編集</h2>
<table>
    <%# フォーム %>
    <%= form_for(@user) do |f| %>
    <tr>
        <th>名前</th>
        <th>
            (性)
            <%= f.text_field :last_name_japanese %>
        </th>
        <th>
            (名)
            <%= f.text_field :first_name_japanese %>
        </th>
    </tr>
    <tr>
        <th>フリガナ</th>
        <th>
            (セイ)
            <%= f.text_field :last_name_katakana %>
        </th>
        <th>
            (メイ)
            <%= f.text_field :first_name_katakana %>
        </th>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <th>
            <%= f.text_field :email %>
        </th>
    </tr>
    <tr>
        <th>郵便番号</th>
        <th>
            <%= f.text_field :postal_code %>
        </th>
    </tr>
    <tr>
        <th>住所</th>
        <th>
            <%= f.text_field :address %>
        </th>
    </tr>
    <tr>
        <th>電話番号(ハイフンなし)</th>
        <th>
            <%= f.text_field :tel %>
        </th>
    </tr>
</table>
    <tr>
  <div class="col-xs-2 col-xs-offset-2">
        <th><%= f.submit "編集内容を保存する", class: "btn btn-primary" %></th>
        <% end %>
</div>
  <div class="col-xs-2 col-xs-offset-2">
        <th><%= link_to "退会する", leave_user_path(@user), class: "btn btn-danger" %></th>
    </tr>
</div>



