<h1>注文履歴一覧</h1>
<table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <%= @orders.each do |order| %>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.full_address %></td>
          <td><%= order. %></td>
          <td>支払金額（内容）<%#= order.合計金額+配送料 %></td>
          <td>ステータス（内容）<%= order.status %></td>
          <td><%#= link_to item.name, item, class: "item_#{item.id}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>