<div class="div class=container">
    <div class="row">
        <div class="col-xs-3">
          <h3>注文情報入力画面</h3>
        </div>

        <%= form_with(model: @order, local: true, url: {action: 'confirm'}) do |f| %>

        <div class="field col-xs-12">
            <%= f.label :支払い方法 %><br>
            <%= f.radio_button :payment_method, "クレジットカード" %> クレジットカード </label><br>
            <%= f.radio_button :payment_method, "銀行振込" %> 銀行振込 </label>
        </div>

        <div class="field col-xs-12">
            <%= f.label :お届け先 %><br>
            <%= radio_button_tag :select_address, "myaddress",true %> ご自身の住所 </label><br>
            <%= @user.postal_code %><%= @user.address %><%= @user.last_name_japanese %><%= @user.first_name_japanese %><br>

            <%= radio_button_tag :select_address, "deliveryaddress",false %> 登録済み住所から選択 </label><br>
            <%= collection_select(:delivery_address, :id, current_user.delivery_addresses, :id, 'full_address' ) %><br>

            <%= radio_button_tag :select_address, "newaddress",false %> 新しいお届け先 </label><br>
            郵便番号（ハイフンなし）<%= f.text_field :postal_code %><br>
            住所 <%= f.text_field :address %><br>
            <p>宛名 <%= f.text_field :name_address %>
        </div>

        <div class="actions　col-xs-12">
            <button class="btn btn-info" type="submit">確認画面へ進む</button>
        </div>
        <% end %>
    </div>
<div>