<h3>注文情報入力画面</h3>

<%= form_with model: @order do |f| %>

  <div class="field">
	  	<%= f.label :支払い方法 %><br>
	  	<%= f.radio_button :payment_method, "クレジットカード" %> クレジットカード </label><br>
	  	<%= f.radio_button :payment_method, "銀行振込" %> 銀行振込 </label>
  </div>

  <div class="field">
	  	<%= f.label :お届け先 %><br>
	  	<%= f.radio_button :neme_address, "ご自身の住所" %> ご自身の住所 </label><br>

	  	<%= f.radio_button :neme_address, "登録済み住所から選択" %> 登録済み住所から選択 </label><br>
        
	  	<%= f.radio_button :neme_address, "新しいお届け先" %> 新しいお届け先 </label><br>
	  	郵便番号（ハイフンなし）<%= f.text_field :postal_code %><br>
	  	住所 <%= f.text_field :address %><br>
	  	<p>宛名 <%= f.text_field :neme_address %>
  </div>

  <div class="btn-wrapper">
	 <%= link_to '確認画面へ進む',confirm_orders_path, class: "btn btn-info " %>
  </div>
<% end %>