<%= render 'items/category', categories: @categories %>
  <div class="col-xs-9 col-xs-offset-1">
    <h3><%= "全#{Item.count}件" %></h3>
    <% @items.each do |item| %>
        <div class="image item-image col-xs-4">
        <%= attachment_image_tag item, :image, :size => '230x200' %>
            <div class="caption">
            <h4><%= link_to item.name, item, class: "item_#{item.id}" %></h4>
            <p class="price-tag"><%= "¥#{item.non_tax_price}" %></p>
            </div>
        </div>
    <% end %>
  </div>
  <div class="col-sx-12" class="text-center">
    <%= paginate @items %>
  </div>