<%= render 'category'  %>
  <div class="col-xs-9 col-xs-offset-1">
    <p><%= "全#{@items.count}件" %></p>
    <% @items.each do |item| %>
        <div class="image item-image col-xs-2">
        <%= attachment_image_tag item, :image, :size => '250x250' %>
            <div class="caption">
            <p><%= link_to item.name, item, class: "item_#{item.id}" %></p>
            <p><%= "¥#{item.non_tax_price}" %></p>
            </div>
        </div>
    <% end %>
  </div>
  <div class="col-sx-12">

  </div>