<%= render 'items/category', categories: @categories %>
  <div class="col-xs-5 col-xs-offset-1 item-show">
    <%= attachment_image_tag @item, :image, :size => '450x400' %>
  </div>
  <div class="col-xs-4 item-show">
    <h2><%= @item.name %></h2>
    <p><%= @item.text %><p>
    <p>¥<%= @item.post_tax_price.to_i %></p>
    <%= form_for(@cart_item, url: item_cart_items_path(@item)) do |f| %>
      <%= f.select :total_volume,(1..10).to_a, {}, class: "form-contril item-show-form-control" %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit 'カートに入れる', class: "btn btn-success btn-new-register btn-lg" %>
    </div>
  <% end %>