<h2>会員詳細画面</h2>
<table>
    <tr>
        <th class="ta">顧客ID</th>
        <th class="ta"><%= @user.id %>
        </th>
        <th>
            <% if @user.status? %>
            <div class="text1">有効</div>
            <% else %>
            <div class="text2">解約済み</div>
            <% end %>
            </th>
    </tr>
    <tr>
        <th class="ta">氏名</th>
        <th class="ta"><%= @user.full_name_japanese %></th>
    </tr>
    <tr>
        <th class="ta">カナ</th>
        <th class="ta"><%= @user.full_name_katakana %></th>
    </tr>
    <tr>
        <th class="ta">郵便番号</th>
        <th class="ta"><%= @user.postal_code %></th>
    </tr>
    <tr>
        <th class="ta">住所</th>
        <th class="ta"><%= @user.address %></th>
    </tr>
    <tr>
        <th class="ta">電話番号</th>
        <th class="ta"><%= @user.tel %></th>
    </tr>
    <tr>
        <th class="ta">メールアドレス</th>
        <th class="ta"><%= @user.email %></th>
    </tr>

    <tr>
        <th class="ta">
            <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-primary" %>
        </th>
        <th class="ta">
            <%= link_to "注文履歴一覧をみる", admin_orders_path, class: "btn btn-primary" %>
            <%# この人の注文履歴一覧ではなく、購入者の名前がバラバラ（全体の）注文一覧画面へ遷移 %>
        </th>
    </tr>
</table>